{% extends 'base.html' %}

{% block content %}
<h2>Update the records for student{{ student.student.name }}</h2>
<div class="container" >
        
<form action="{% url 'update_student' student.id %}" method="post" enctype='multipart/form-data'>
{% csrf_token %}
    <label for="name">Name</label><br>
    <input type="text" name='stdname' value="{{ student.student.name }}"> 
    <br>
    <label for="name">Age</label><br>
    <input type="number" name='stdage' value="{{ student.student.age }}"> <br>
    <label for="name">Address</label><br>
    <input type="text" name='stdaddress' value="{{ student.student.address }}"> <br>
    <label for="name">Email</label><br>
    <input type="email" name='stdemail' value="{{ student.student.email }}"> <br>
    <label for="classroom">Classroom</label> <br>
    <select name="classselect" id="">
        <option selected value={{ student.student.classroom_id }}> {{ student.student.classroom.class_name }}</option>
        {% for classroom in classrooms %}
        <option value={{ classroom.id }}>{{classroom.class_name}}</option> {% comment %}Backend ma kun classroom select garyo tesko id janxa value ma classroom id deko vayera{% endcomment %}
        {% endfor %}
    </select><br>
    <label for="name">Phone Number</label><br>
    <input type="text" name='sphone' value="{{ student.phone }}"> <br>
    <label for="name">Bio</label><br>
    <textarea name='sbio' placeholder="bio"> </textarea> <br>
    <label for="name">Roll no.</label><br>
    <input type="number" name='sroll' value="{{ student.roll_no }}"> <br>
    <label for="name">Profile pic</label><br>
    <input type="file" name='spic'> <br>
    {% comment %} <label for="name">Classroom</label>
    <input type="text" name='stdclassroom'> <br> {% endcomment %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}