{% extends "base.html" %}
{% block content %}
<div>
    <h2>This is Student and Student profile table</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">roll no</th>
            <th scope="col">bio</th>
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                {% comment %} forloop.counter le number badauxa ie i ko value jastei for i in range wala ma jastei {% endcomment %}
                <th scope="row">{{ student.id }}</th>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.studentprofile.phone }}</td>
                <td>{{ student.studentprofile.roll_no }}</td>
                <td>{{ student.studentprofile.bio }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}